* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#toto:checked + #a-propos {
  display: none;
}

header nav {
  display: flex;
  justify-content: space-between;
}

/* desktop */
#logo {
  color: green;
}

#hamburger {
  flex-direction: column;
  width: 40px;

  display: none;
}

#hamburger span {
  height: 4px;
  background: black;
  width: 100%;
}

#hamburger span:nth-child(2) {
  margin: 4px 0;
}

/* tablet */
@media only screen and (max-width: 981px) {
  header nav ul,
  #toggle {
    display: none;
  }

  #toggle:checked + ul {
    display: flex;
    position: fixed;
    background: rgb(239, 234, 234);
    height: 100vh;
    right: 0;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #logo {
    color: purple;
  }

  #hamburger {
    display: flex;
    position: relative;
    z-index: 10;
  }
}

/* mobil */
@media only screen and (max-width: 360px) {
  #logo {
    color: red;
  }
  #toggle:checked + ul {
    width: 100%;
  }
}
